@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  --font-display: var(--font-manrope), sans-serif;
  --font-sans: var(--font-noto-sans), sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

/* Custom Styles */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.dock-blur {
  @apply backdrop-blur-xl bg-white/70 dark:bg-[#1a2632]/80;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-light dark:bg-background-dark text-[#0d141b] dark:text-white font-display;
}
